<div class="d-flex my-3 justify-content-around">
    <div class="d-flex mx-3 flex-column align-items-center justify-content-center">
        <button class="d-block btn btn-secondary shadow mb-1"
                id="updateGoal_{{id}}"
                data-goal-id="{{id}}"
                type="submit"
                disabled
        >Update</button>
        <button class="d-block btn btn-danger btn-sm shadow mt-1"
                id="deleteGoal_{{id}}"
                data-goal-id="{{id}}"
                type="button"
        >Delete</button>
    </div>
    <div class="flex-grow-1">
        {{>goal-div this}}
    </div>
</div>
