{{#section "head"}}
    <link href="/default.css" rel="stylesheet" />
    <script src="/goals-manager.mjs" type="module"></script>
{{/section}}

<h1 class="text-center text-decoration-underline">Goals Manager</h1>

<div class="container-fluid">

    {{!-- root row --}}
    <div class="row">

        <nav class="col-1 bg-primary" id="navBarCol">
            <p>Navbar</p>
        </nav>

        <main class="col" id="goalsAndMilestoneCol">

            {{!-- Goals row --}}
            <div class="row align-items-center" id="goalsRow">

                <div class="col" id="goalsCol">

                        <div class="row align-items-center">

                            <div class="row">

                                <div class="col offset-1">
                                    <div class="d-flex justify-content-around align-items-center">
                                        <h2 class="h2">Goals:</h2>
                                        <button class="btn btn-primary btn-lg shadow mb-2" id="addGoalBtn" type="button">Add</button>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="d-flex justify-content-around align-items-center">
                                        <h2 class="h2">Milestones:</h2>
                                        <button class="btn btn-primary btn-lg shadow mb-2" type="button">Add</button>
                                    </div>
                                </div>

                            </div>

                            {{!-- Goals/Milestones row --}}
                            <form class="row align-items-center">

                                {{!-- Update btn col --}}
                                <div class="col-1 text-center">
                                    <button class="btn btn-secondary shadow mb-1" type="submit" disabled>Update</button>
                                    <button class="btn btn-danger btn-sm shadow mt-1" type="button">Delete</button>
                                </div>

                                {{!-- Goals col --}}
                                <section class="col-5">
                                    <ol class="list-group">
                                        <li class="list-group-item">

                                            {{!-- Goal toggles/buttons --}}
                                            <div class="d-flex justify-content-around align-items-center mb-2">
                                                <div>
                                                    <input class="form-check-input me-1" type="checkbox" id="goalAccomplishedCheckbox">
                                                    <label class="form-check-label" for="goalAccomplishedCheckbox">Accomplished</label>
                                                </div>

                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">Private</label>
                                                </div>

                                                <button type="button" class="btn btn-outline-primary btn-sm milestonesBtn" id="milestonesToggle" data-bs-toggle="button" aria-pressed="true">Milestones</button>
                                            </div>

                                            <label for="goalTitle" class="form-label d-none">Goal Title</label>
                                            <input type="text" class="form-control" id="goalTitle" placeholder="Goal">
                                        </li>
                                    </ol>
                                </section>

                                {{!-- Milestone col --}}
                                <section class="col-5 text-center">

                                    <ol class="list-group">
                                        <li class="list-group-item">

                                            <p class="text-center m-0">&lt;Goal Title&gt; <span class="text-body-secondary">milestones</span></p>

                                            <div class="d-flex px-4 mb-2 justify-content-between">
                                                <div>
                                                    <input class="form-check-input me-1" type="checkbox" id="milestoneAccomplishedCheckbox">
                                                    <label class="form-check-label" for="milestoneAccomplishedCheckbox">Accomplished</label>
                                                </div>

                                                <button class="btn btn-danger btn-sm shadow" type="button">Delete</button>
                                            </div>

                                            <label for="milestoneTitle" class="form-label d-none">Milestone Title</label>
                                            <input type="text" class="form-control" id="milestoneTitle" placeholder="Milestone">
                                        </li>
                                    </ol>
                                </section>

                            </form>

                        </div>

                </div>

            </div>

        </main>

    </div>
</div>
