{{#section "head"}}
    <link href="/default.css" rel="stylesheet" />
    <script src="/goals-manager.mjs" type="module"></script>
{{/section}}

<h1>Goals Manager</h1>

<div class="container-fluid">
    <div class="row">

        <nav class="col-1 bg-primary" id="navBarCol">
            <p>Navbar</p>
        </nav>

        <div class="col" id="goalsAndMilestoneCol">

            <div class="row" id="goalRow">

                <div class="col-1 my-auto">
                    <button class="btn btn-primary shadow mb-3" type="button">Add Goal</button>
                </div>

                <div class="col" id="goalsCol">
                    <form>

                        <div class="row">
                            <div class="col-1">
                                <button class="btn btn-secondary shadow mb-3" type="submit" disabled>Update</button>
                                <button class="btn btn-primary shadow mb-3" type="button">Milestones</button>
                            </div>

                            <div class="col-4">
                                <label for="goalTitle" class="form-label">Title</label>
                                <input type="text" class="form-control" id="goalTitle" placeholder="Goal Title">
                            </div>

                            <div class="col">
                                <label for="goalDescription" class="form-label">Description</label>
                                <input type="text" class="form-control" id="goalDescription" placeholder="Goal Description">
                            </div>

                            <div class="col-1 my-auto">
                                <button type="button" class="btn btn-primary active" data-bs-toggle="button" aria-pressed="true" id="privateBtn">Private</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

            <div class="row" id="milestonesRow">

                <div class="col-1 my-auto">
                    <button class="btn btn-primary shadow mb-3" type="button">Add Milestone</button>
                </div>

                <div class="col" id="milestonesCol">

                    <div class="row">

                        <div class="col-1">
                            <button class="btn btn-secondary shadow mb-3" type="submit" disabled>Update</button>
                        </div>

                        <div class="col bg-info">
                            <p>Milestone 1 Title</p>
                        </div>

                        <div class="col bg-secondary">
                            <p>Milestone 1 Description</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
