{{#section "head"}}
    <link href="default.css" rel="stylesheet" />
    <script src="goal-manager.mjs" type="module"></script>
{{/section}}

<h1>Goal Manager</h1>
<div class="container">
    <div class="row">

        <nav class="col" id="navBarCol">
            <p>Navbar</p>
        </nav>

        <div class="col" id="goalsAndMilestoneCol">

            <div class="row" id="goalRow">
                <div class="col">
                    <p>Add Goal</p>
                </div>
                <div class="col">
                    <p>Goal List</p>
                </div>
                <div class="col">
                    <p>Private/Public toggle</p>
                </div>
            </div>

            <div class="row" id="descAndMileStoneRow">
                <div class="col">
                    <p>Description and Milestones list</p>
                </div>
            </div>

        </div>

    </div>
</div>
