{{#section "head"}}
    <link href="/default.css" rel="stylesheet" />
    <script src="/goals-manager.mjs" type="module"></script>
{{/section}}

<h1 class="text-center text-decoration-underline">Goals Manager</h1>

<div class="container-fluid">

    {{!-- root row --}}
    <div class="row">

        <nav class="col-1 bg-primary" id="navBarCol">
            <p>Navbar</p>
        </nav>

        <main class="col" id="goalsAndMilestoneCol">

            {{!-- Goals row --}}
            <div class="row align-items-center" id="goalsRow">

                <div class="col" id="goalsCol">

                        <div class="row align-items-center">

                            <div class="row">

                                <div class="col offset-1">
                                    <div class="d-flex justify-content-around align-items-center">
                                        <h2 class="h2">Goals:</h2>
                                        <button class="btn btn-primary btn-lg shadow mb-2" id="addGoalBtn" type="button">Add</button>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="d-flex justify-content-around align-items-center">
                                        <h2 class="h2">Milestones:</h2>
                                        <button class="btn btn-primary btn-lg shadow mb-2" type="button">Add</button>
                                    </div>
                                </div>

                            </div>

                            {{!-- Goals/Milestones row --}}
                            <form class="row align-items-center">

                                {{!-- Update btn col --}}
                                <div class="col-1 text-center">
                                    <button class="btn btn-secondary shadow mb-1" type="submit" disabled>Update</button>
                                    <button class="btn btn-danger btn-sm shadow mt-1" type="button">Delete</button>
                                </div>

                                {{!-- Goals col --}}
                                <section class="col-6">
                                    {{#each userData.goals as |goal|}}
                                        {{>goal-div goal}}
                                    {{/each}}
                                </section>

                                {{!-- Milestone col --}}
                                <section class="col-5 text-center">
                                    <ol class="list-group">
                                        {{#each userData.goals as |goal|}}
                                            {{>milestones-div goal}}
                                        {{/each}}
                                    </ol>
                                </section>

                            </form>

                        </div>

                </div>

            </div>

        </main>

    </div>
</div>
