{{#section "head"}}
    <link href="login.css" rel="stylesheet" />
    <script src="login.mjs" type="module"></script>
{{/section}}

<div class="main-container">
<h1>Social Goals Tracker</h1>
</div>
<div class="columns-container">
    <div class=".col-4">
        <h2>Login</h2>

        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input class="btn btn-primary shadow mb-3" type="submit" value="Login">
        </form>
         <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </div>

    <div class=".col-4">
        <h1>Goals Container</h1>
    </div>

    <div class=".col-4">
        <h1>Banner Container</h1>
    </div>
</div>