/* signup.scss */ 
 body {
     background: linear-gradient(
         to bottom right,
         #ff00ff,
         #00ffff,
         #ffcc00,
         #00ff00
     ) fixed;
     background-size: 400% 400%;
     animation: gradientShift 10s linear infinite;
     min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
 }
   
   @keyframes gradientShift {
     0%, 100% {
       background-position: 0% 50%;
   }
   25% {
       background-position: 100% 50%;
   }
   50% {
       background-position: 0% 100%;
   }
   75% {
       background-position: 0% 0%;
   }
   }